### Questão 01

Qual estrutura de dados pode ser colocada na variável "estrutura" do código a seguir para criar uma Series corretamente?

    ss = pd.Series(estrutura)

In [ ]:
import pandas as pd
import numpy as np

estrutura = [1, 2, 3]
ss = pd.Series(estrutura)
print(ss)

estrutura2 = np.array(estrutura)
ss2 = pd.Series(estrutura2)
print(ss2)

estrutura3 = {0:'a', '1': 'b', 3: 'c'}
ss3 = pd.Series(estrutura3)
print(ss3)

### Questão 02

Qual alternativa contém uma sintaxe INCORRETA para acessar determinada parte de um DataFrame?

In [33]:
dict_medidas = {'peso': [72, 80, 60, 90, 100],
                'altura': [180, 170, 175, 174, 185],
                'idade': [31, 21, 16, 28, 23]}
df = pd.DataFrame(dict_medidas)

print(df)

print('-'*32)
linha = df.loc[0]
print('linha 0\n', linha)

print('-'*32)
col = df['peso']
print('coluna peso\n', col)

print('-'*32)
elemento = df.loc[0, 'peso']
print('linha 0, coluna peso\n', elemento)

print('-'*32)
elemento = df[0, 'peso']
print('linha 0, coluna peso\n', elemento)

   peso  altura  idade
0    72     180     31
1    80     170     21
2    60     175     16
3    90     174     28
4   100     185     23
--------------------------------
linha 0
 peso       72
altura    180
idade      31
Name: 0, dtype: int64
--------------------------------
coluna peso
 0     72
1     80
2     60
3     90
4    100
Name: peso, dtype: int64
--------------------------------
linha 0, coluna peso
 72
--------------------------------

KeyError: (0, 'peso')

### Questão 03

Considere o seguinte código:

    df = pd.DataFrame({'Nomes':['Tom', 'Ron', 'Leslie', 'Jerry'],
                    'Nota':[np.nan,7,10,2],
                    'Passou':[np.nan,'sim','sim','não']})

Selecione a alternativa correta.

In [39]:
df = pd.DataFrame({'Nomes':['Tom', 'Ron', 'Leslie', 'Jerry'],
                   'Nota':[np.nan,7,10,2],
                   'Passou':[np.nan,'sim','sim','não']})

print(df)
print('-'*32)
df.dropna(axis=0)

    Nomes  Nota Passou
0     Tom   NaN    NaN
1     Ron   7.0    sim
2  Leslie  10.0    sim
3   Jerry   2.0    não
--------------------------------

    Nomes  Nota Passou
1     Ron   7.0    sim
2  Leslie  10.0    sim
3   Jerry   2.0    não

### Questão 04

Suponha que você se depara com um DataFrame que descreve acadêmicos de diferentes áreas.

Ele é indexado pelo nome dos pesquisadores e contém as seguintes colunas: Área de Pesquisa, Número de Publicações, Idade do Pesquisador e Quantidade de Citações.

Qual dos códigos a seguir faz uso INCORRETO dos agrupamentos para este caso?

In [44]:
df = pd.read_csv('iris.csv')

display(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [49]:
df.groupby('species')['petal_length'].value_counts()

species     petal_length
setosa      1.4             13
            1.5             13
            1.3              7
            1.6              7
            1.7              4
            1.2              2
            1.9              2
            1.0              1
            1.1              1
versicolor  4.5              7
            4.0              5
            4.7              5
            4.2              4
            4.4              4
            3.9              3
            4.1              3
            4.6              3
            3.3              2
            3.5              2
            4.3              2
            4.8              2
            4.9              2
            3.0              1
            3.6              1
            3.7              1
            3.8              1
            5.0              1
            5.1              1
virginica   5.1              7
            5.6              6
            4.9              3
            5.0              3
            5.5              3
            5.7              3
            5.8              3
            6.1              3
            4.8              2
            5.2              2
            5.3              2
            5.4              2
            5.9              2
            6.0              2
            6.7              2
            4.5              1
            6.3              1
            6.4              1
            6.6              1
            6.9              1
Name: petal_length, dtype: int64